{% extends 'store/base.html' %}
{% load static %}
{% block title %}Welcome – Ecom Shop{% endblock %}

{% block content %}
<style>
    .mybutton { 
        display: inline-block; 
        padding: 16px 20px; 
        background: #a09993; 
        color: #0d0909; 
        text-decoration: none; 
        border-radius: 12px; 
        transition: background 0.3s;
        font-size: 16px;
        font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif; }
        .mybutton:hover { background: #c9957a; }
</style>
<div class="hero">
    <img src="/media/products/home_1.jpg" alt="Banner" class="banner-img">
    <br><br><br><br>
    <h1 style="text-align: center; font-size: 2cm; font-weight: 100; font-family: Georgia, 'Times New Roman', Times, serif;">Welcome to House of Tara</h1>
    
    <ul style="text-align: left; list-style-position: inside; font-size: 0.8cm; font-weight: 450; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <li>Browse women's clothing</li>
        <br>
        <li>Browse men's clothing</li>
        <br>
        <li>Manage your cart</li>
        <br>
        <li>Checkout securely</li>
    </ul>
    <p style="display: flex; justify-content: center; gap: 100px;">
        <a class="mybutton" href="{% url 'women' %}">WOMEN</a>
        
        <a class="mybutton" href="{% url 'men' %}">MEN</a>
    </p>
    <br><br><br><br>
    <img src="/media/products/home_22.png" alt="Banner" class="banner-img">

</div>
{% endblock %}
